.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #f7f2ef;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 26px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'EB Garamond', sans-serif;
  font-size: 96px;
  line-height: 96px;
  font-weight: 500;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'EB Garamond', sans-serif;
  font-size: 48px;
  line-height: 46px;
  font-weight: 500;
}

a {
  text-decoration: underline;
}

.navbar {
  z-index: auto;
  width: 100%;
  padding: 22px 36px;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar.active-nav1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav1-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.brand:hover {
  opacity: 0.7;
}

.grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.subheadline-p.p_left {
  margin-top: 0px;
  color: #fff;
  text-align: left;
}

.hero6-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-label {
  font-size: 12px;
  font-weight: 600;
}

.button-arrow {
  display: inline-block;
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.section {
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 640px;
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 29, 0.45)), to(rgba(24, 24, 29, 0.45))), url('../images/20190706_SFP_Lifestyle_Accessories_JohnKira_FullRes-125.jpg');
  background-image: linear-gradient(180deg, rgba(24, 24, 29, 0.45), rgba(24, 24, 29, 0.45)), url('../images/20190706_SFP_Lifestyle_Accessories_JohnKira_FullRes-125.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
  text-align: center;
}

.home.homea {
  min-height: 640px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(87, 59, 36, 0.5)), to(rgba(87, 59, 36, 0.5))), url('../images/clinica-de-estetica-indaiatuba.jpg');
  background-image: linear-gradient(180deg, rgba(87, 59, 36, 0.5), rgba(87, 59, 36, 0.5)), url('../images/clinica-de-estetica-indaiatuba.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.hero6-text {
  margin-bottom: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.button-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 0px;
  background-color: #18181d;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-small:hover {
  background-color: #272731;
}

.button-small.white-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-radius: 0px;
  background-color: #a5754d;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.button-small.white-small.btn_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-small.form-centered-button {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  color: #a5754d;
}

.button-small.form-centered-button.btn_cta {
  background-color: #a5754d;
  color: #fff;
}

.wrapper.m100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #18181d;
}

.wrapper.m100.primary-bg {
  min-height: 440px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #a5754d;
  color: #fff;
}

.wrapper.m0-50 {
  padding-bottom: 50px;
}

.cards-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.centered-container {
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 70%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.success-message {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 30px;
  border-bottom: 3px solid #12b878;
  background-color: rgba(18, 184, 120, 0.1);
  color: #12b878;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.text-field {
  width: 100%;
  margin-bottom: 0px;
  padding: 30px 20px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border-style: none;
  border-radius: 0px;
  background-color: #f5f5f5;
  color: #18181d;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.text-field:hover {
  background-color: #f0f0f0;
}

.text-field:active {
  background-color: #ececec;
}

.text-field:focus {
  background-color: #ececec;
  color: #18181d;
}

.text-field.bottom-margin-field {
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-area {
  min-height: 170px;
  padding: 14px 20px 18px;
  border-style: none;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.text-area:hover {
  background-color: #f0f0f0;
}

.text-area:active {
  background-color: #ececec;
}

.text-area:focus {
  background-color: #ececec;
}

.error-message {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 10px 20px;
  border-bottom: 3px solid #db4b68;
  background-color: rgba(219, 75, 104, 0.05);
  color: #db4b68;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.form-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form {
  margin-top: 50px;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.form.form-header {
  margin-top: 60px;
  margin-bottom: 0px;
}

.div-block-2 {
  text-align: center;
}

.footer2-bottom-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer2-bottom-left-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-2 {
  color: #a5754d;
  font-size: 14px;
  text-decoration: underline;
}

.footer4-icons-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer4-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.footer4-icon:hover {
  opacity: 1;
  color: #000;
}

.heading-1 {
  position: static;
  margin-bottom: 20px;
  font-weight: 500;
}

.heading-1.h1_left {
  margin-bottom: 40px;
  text-align: left;
}

.heading-2 {
  font-family: 'EB Garamond', sans-serif;
}

.footer.m100 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: transparent;
  color: #18181d;
}

.footer.m100.primary-bg {
  background-color: #a5754d;
  color: #fff;
}

.footer.m0-50 {
  padding-bottom: 50px;
  background-color: #f7f2ef;
}

.contact.m100 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: transparent;
  color: #18181d;
}

.contact.m100.primary-bg {
  background-color: #a5754d;
  color: #fff;
}

.contact.m0-50 {
  padding-bottom: 50px;
}

.services.m100 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f7f2ef;
  color: #18181d;
}

.services.m100.primary-bg {
  background-color: #a5754d;
  color: #fff;
}

.services.m0-50 {
  padding-bottom: 50px;
}

.paragraph {
  text-align: center;
}

.heading-4 {
  margin-bottom: 20px;
}

.text-block {
  font-size: 14px;
}

.footer4-text {
  margin-left: 10px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.phone {
  margin-top: 0px;
  margin-bottom: 20px;
}

.link-3 {
  color: #000;
  text-decoration: none;
}

.bold-text {
  text-transform: uppercase;
}

.heading-5 {
  font-family: Arvo;
}

.whatsapp-chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 300px;
  height: 315px;
  margin-bottom: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  background-color: #fff;
}

.live-chat-top-text {
  position: static;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
}

.live-chat-top-text.block {
  margin-bottom: 10px;
  color: #b0b0b0;
  font-size: 12px;
}

.live-icon {
  position: absolute;
  left: 5px;
  top: 5px;
  right: auto;
  bottom: auto;
  display: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #00b94a;
}

.chat-section {
  height: 50%;
  padding: 16px 20px;
  background-color: #e6ddd4;
}

.livechat-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 200px;
  background-color: #27b63e;
  text-decoration: none;
}

.live-icon-chat {
  margin-right: 0px;
}

.live-chat-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  text-decoration: none;
}

.whatsapp-block {
  position: fixed;
  left: auto;
  top: auto;
  right: 30px;
  bottom: 30px;
  z-index: 30;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.whatsapp-container {
  position: relative;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 30;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 100%;
  background-color: #27b63e;
  -webkit-transition: all 300ms cubic-bezier(.45, .182, .111, .989);
  transition: all 300ms cubic-bezier(.45, .182, .111, .989);
  cursor: pointer;
}

.whatsapp-container:hover {
  background-color: #1c802c;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.live-chat-bottom-text {
  width: 160px;
  font-size: 10px;
  line-height: 14px;
}

.live-chat-bottom-text.block {
  margin-bottom: 5px;
  font-size: 12px;
}

.live-chat-bottom-text.block.live-chat-conversation {
  line-height: 18px;
}

.live-chat-text {
  color: #fff;
  text-decoration: none;
}

.top-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.small-whatsapp-icon {
  margin-right: 10px;
}

.close-live-chat-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.chat-block {
  width: 80%;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
}

.whatsapp-icon {
  max-width: 100%;
  font-size: 10px;
}

.sessiontitle {
  font-family: 'EB Garamond', sans-serif;
  font-size: 48px;
  line-height: 46px;
  font-weight: 500;
}

.servicestitle {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.link-4 {
  color: #18181d;
  text-decoration: underline;
}

@media screen and (min-width: 1920px) {
  .whatsapp-chat {
    display: none;
  }

  .livechat-button {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .livechat-button:hover {
    background-color: #000;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-right: 24px;
    padding-left: 24px;
  }

  .nav1-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid {
    width: 100%;
    max-width: 738px;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .section {
    padding-right: 24px;
    padding-left: 24px;
  }

  .home {
    padding-right: 0px;
    padding-left: 0px;
  }

  .home.homea {
    min-height: 60vh;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .success-message {
    max-width: 738px;
  }

  .error-message {
    max-width: 738px;
  }

  .footer2-bottom-grid {
    width: 100%;
    max-width: 738px;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .whatsapp-block {
    right: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav1-wrap {
    grid-column-gap: 20px;
  }

  .grid {
    max-width: none;
    grid-column-gap: 20px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .home {
    min-height: 600px;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .success-message {
    width: 100%;
    max-width: none;
  }

  .error-message {
    width: 100%;
    max-width: none;
  }

  .footer2-bottom-grid {
    max-width: none;
    grid-column-gap: 20px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .footer2-bottom-left-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .whatsapp-block {
    right: 15px;
    bottom: 15px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-right: 16px;
    padding-left: 16px;
  }

  .nav1-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .brand {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .image {
    max-width: 70%;
  }

  .grid {
    position: static;
    grid-column-gap: 12px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .subheadline-p {
    text-align: center;
  }

  .subheadline-p.p_left {
    text-align: center;
  }

  .hero6-content {
    padding-top: 0px;
  }

  .hero6-content.secreto {
    display: block;
  }

  .section {
    padding-right: 16px;
    padding-bottom: 60px;
    padding-left: 16px;
  }

  .home.homea {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(87, 59, 36, 0.5)), to(rgba(87, 59, 36, 0.5))), url('../images/clinica-de-estetica-indaiatuba.jpg');
    background-image: linear-gradient(180deg, rgba(87, 59, 36, 0.5), rgba(87, 59, 36, 0.5)), url('../images/clinica-de-estetica-indaiatuba.jpg');
    background-position: 0px 0px, 79% 0px;
  }

  .hero6-text {
    margin-bottom: 0px;
  }

  .button-small {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .button-small.white-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .cards-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .centered-container {
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form.form-header {
    margin-top: 0px;
  }

  .footer2-bottom-grid {
    grid-column-gap: 12px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer2-bottom-left-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer4-icon {
    margin-right: 10px;
    margin-left: 10px;
  }

  .heading-1 {
    font-size: 42px;
    line-height: 48px;
  }

  .heading-1.h1_left {
    font-size: 50px;
    text-align: center;
  }

  .whatsapp-chat {
    position: relative;
    width: 100%;
    height: 40vh;
  }

  .whatsapp-block {
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .whatsapp-container {
    right: 0px;
    bottom: 10px;
    width: 80px;
    height: 80px;
  }
}

#w-node-cf86244f-6de2-5d3c-4287-db26050067eb-0557e684 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 8;
  grid-column-end: 11;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-cf86244f-6de2-5d3c-4287-db26050067ed-0557e684 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d0e0bd59-ba37-ff15-bddc-238bede739b9-0557e684 {
  -ms-grid-column-span: 12;
  grid-column-end: span 12;
  -ms-grid-column: span 12;
  grid-column-start: span 12;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d0e0bd59-ba37-ff15-bddc-238bede739bf-0557e684 {
  -ms-grid-column-span: 8;
  grid-column-end: 11;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-dce33a3e-9f7e-8806-639f-bc5a798f29d5-798f29d2 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-dce33a3e-9f7e-8806-639f-bc5a798f29e2-798f29d2 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-a20e5b67-4241-bf9c-789b-d27b462c9055-798f29d2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b0106e79-b3ec-01a3-6415-7a516beb2f74-6beb2f72 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-cf86244f-6de2-5d3c-4287-db26050067eb-a4e2ca8b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 8;
  grid-column-end: 11;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-cf86244f-6de2-5d3c-4287-db26050067ed-a4e2ca8b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d0e0bd59-ba37-ff15-bddc-238bede739b9-a4e2ca8b {
  -ms-grid-column-span: 12;
  grid-column-end: span 12;
  -ms-grid-column: span 12;
  grid-column-start: span 12;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d0e0bd59-ba37-ff15-bddc-238bede739bf-a4e2ca8b {
  -ms-grid-column-span: 8;
  grid-column-end: 11;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-cf86244f-6de2-5d3c-4287-db26050067eb-402a0f0a {
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cf86244f-6de2-5d3c-4287-db26050067ed-402a0f0a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_05f1db94-0831-aaed-71ec-bbc35754ca1b-402a0f0a {
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

@media screen and (max-width: 991px) {
  #w-node-cf86244f-6de2-5d3c-4287-db26050067eb-0557e684 {
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d0e0bd59-ba37-ff15-bddc-238bede739b9-0557e684 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-dce33a3e-9f7e-8806-639f-bc5a798f29d5-798f29d2 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-dce33a3e-9f7e-8806-639f-bc5a798f29e2-798f29d2 {
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b0106e79-b3ec-01a3-6415-7a516beb2f74-6beb2f72 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-cf86244f-6de2-5d3c-4287-db26050067eb-a4e2ca8b {
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d0e0bd59-ba37-ff15-bddc-238bede739b9-a4e2ca8b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-cf86244f-6de2-5d3c-4287-db26050067eb-402a0f0a {
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83e6-0557e684 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83e8-0557e684 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83ed-0557e684 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83ef-0557e684 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-d0e0bd59-ba37-ff15-bddc-238bede739b9-0557e684 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-dce33a3e-9f7e-8806-639f-bc5a798f29d5-798f29d2 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  #w-node-dce33a3e-9f7e-8806-639f-bc5a798f29e2-798f29d2 {
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83e6-a4e2ca8b {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83e8-a4e2ca8b {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83ed-a4e2ca8b {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83ef-a4e2ca8b {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-d0e0bd59-ba37-ff15-bddc-238bede739b9-a4e2ca8b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-cf86244f-6de2-5d3c-4287-db26050067eb-0557e684 {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83dc-0557e684 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83e3-0557e684 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83ea-0557e684 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d0e0bd59-ba37-ff15-bddc-238bede739b9-0557e684 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-dce33a3e-9f7e-8806-639f-bc5a798f29d5-798f29d2 {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-dce33a3e-9f7e-8806-639f-bc5a798f29e2-798f29d2 {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-cf86244f-6de2-5d3c-4287-db26050067eb-a4e2ca8b {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83dc-a4e2ca8b {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83e3-a4e2ca8b {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_77bdf4bb-c63a-0799-38d8-339951bd83ea-a4e2ca8b {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d0e0bd59-ba37-ff15-bddc-238bede739b9-a4e2ca8b {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-cf86244f-6de2-5d3c-4287-db26050067eb-402a0f0a {
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  #w-node-_05f1db94-0831-aaed-71ec-bbc35754ca1b-402a0f0a {
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

